@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,700');

.centerAll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainBG {
  font-family: 'Noto Serif TC', 'Arial';
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

#mainBG .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}

#mainBG .wave.wave1 {
  animation: wave-animate 30s linear infinite;
  z-index: 303;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#mainBG .wave.wave2 {
  animation: wave-animate2 15s linear infinite;
  z-index: 302;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#mainBG .wave.wave3 {
  animation: wave-animate 30s linear infinite;
  z-index: 301;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}
#mainBG .wave.wave4 {
  animation: wave-animate2 5s linear infinite;
  z-index: 300;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave-animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave-animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.title-deco {
  position: relative;
  font-family: 'Noto Serif TC', 'Arial';
}

.title-deco::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 4px;
  left: 0;
  background-color: #ee7785;
  bottom: 0;
}

/*這邊分隔線這邊分#ee7785隔線這邊分隔線這邊分隔線這邊分隔線這邊分隔線*/
#SectionPoem, #SectionPoem::after, #SectionPoem::before {
  box-sizing: border-box;
}

#SectionPoem {
  color: #eee;
  line-height: 1.5;
  letter-spacing: 0.2em;
  font-family: 'Noto Serif TC', serif;
}

.Poem-Wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.Poem-Card {
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 10px white, 0 15px 30px rgba(0, 0, 0, 0.4);
  background: inherit;
  background-clip: padding-box;
  padding: 20px 30px;
  /* width: 420px; */
  /* height: 450px; */
  overflow: hidden;
  /* margin-top: 5vh; */
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.Poem-Card::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  opacity: 0.8;
  z-index: -1;
  background: inherit;
  background-attachment: fixed;
  filter: blur(15px);
}

#Poem-H1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

#Poem-P {
  font-size: 1rem;
  line-height: 2;
}
/*這邊分隔線這邊分#ee7785隔線這邊分隔線這邊分隔線這邊分隔線這邊分隔線*/
/*這邊分隔線這邊分#ee7785隔線這邊分隔線這邊分隔線這邊分隔線這邊分隔線*/
/*這邊分隔線這邊分#ee7785隔線這邊分隔線這邊分隔線這邊分隔線這邊分隔線*/


@media (max-width: 768px) {
  #allcategories {
    display: none;
  }
  #projects {
    display: none;
  }
  .grind-container {
    display: none;
  }
  #about {
    display: none;
  }
}
